.calendar {
    display: grid;
    gap: 15px;
}


@media (max-width: 600px) {
    .calendar { grid-template-columns: 1fr; }
}
@media (min-width: 601px) and (max-width: 900px) {
    .calendar { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .calendar { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1201px) {
    .calendar { grid-template-columns: repeat(6, 1fr); }
}

.month {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.month h3 {
    text-align: center;
    margin-bottom: 5px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    text-align: center;
    font-size: 0.75em;
}

.days div {
    padding: 4px 0;
    border-radius: 4px;
}

.holiday {
    background: crimson;
    color: white;
    cursor: help;
}