:root {
    --gap: 5px;
    --trans-speed: 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
}

.page>* {
    padding: var(--gap);
    margin: var(--gap);
}

.header,
.footer {
    display: inline;
}

.main {
    flex: auto;
    min-height: 5vh;
}

.scroll {
    overflow-y: auto;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageFrame {
    background-size: cover;
    aspect-ratio: 1/1;
    border-radius: 6px;
    transition: 0.5s;
}

.imageFrame:hover {
    scale: 1.05;
}